<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="domain" value="imis-lan-qa"/>
    <add key="phantomjs" value="C:\Users\jgozner.CPSBC\Downloads\phantomjs-2.1.1-windows\phantomjs-2.1.1-windows\bin"/>
  </appSettings>
</configuration>
