<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="domain" value=""/>
    <add key="phantomjs" value=""/>
    <add key="webform_query" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="database" connectionString=""/>
  </connectionStrings>
</configuration>
